*{
    margin: 0;
    padding: 0;
}
body{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4B8F8C;
}
.container{
    background-color: #F1FAEE;
    border-radius : 1rem;
    min-height: 45vh;
    min-width : 45vh;
    padding: 2rem;
}
form{
    margin : 2rem 0 1rem 0;
}
form select, input, button{
    width: 100%;
    border: none;
    outline :none;
    border-radius : 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 1rem;
}

.conversion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 2rem;
}
.conversion i{
    font-size: 1.3rem;
    margin-top: 13px;
}

.select-container img{
    width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.75rem; 
}
.select-container select{
    font-size: 1rem;
    margin: auto;
}
.msg{
    margin :2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: #D88C9A;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}


